In [1]:
# split, strip and join

In [2]:
a = "   2 3 4 5 6   "

In [5]:
a = a.strip()
a

'2 3 4 5 6'

In [6]:
li = a.split(" ")

In [7]:
li

['2', '3', '4', '5', '6']

In [8]:
# what to do?

In [10]:
# apply the int function to every elemtn of the list

In [12]:
li = list(map(int, li))

In [13]:
li

[2, 3, 4, 5, 6]

In [14]:
sum(li)

20

In [15]:
# why do we care?

In [17]:
# 1 2 3
# 3 4

# # this is not same as 
# 1
# 2
# 3
# 3
# 4
# # in python

In [54]:
li = input()

 1 3 2 4

In [55]:
li

'1 3 2 4'

In [56]:
li = li.split(" ")

In [57]:
li

['1', '3', '2', '4']

In [59]:
"*".join(li)

'1*3*2*4'

In [26]:
set(map(int, li))

{1, 2, 3, 45}

In [22]:
li = list(map(int, li))

In [23]:
li

[1, 3, 2, 45]

In [28]:
f = 10
s = 20
f,s = s,f

In [29]:
f,s

(20, 10)

In [30]:
a = [2,3]

In [42]:
num1, num2, num3 = (2,3, 4)

In [43]:
num1

2

In [44]:
num2

3

In [45]:
num3

4

In [46]:
# take 2 numbers

In [47]:
nums = input()

 5 8

In [48]:
a, b = map(int, nums.split(' '))

In [49]:
a

5

In [50]:
b

8

In [51]:
li

[1, 3, 2, 45]

In [52]:
"-".join(li)

TypeError: sequence item 0: expected str instance, int found